---
platform: linux

image_resource:
  type: registry-image
  source: { repository: concourse/unit }

inputs:
  - name: concourse
  - name: ci
  - name: dev-image
  - name: postgres-image
    optional: true

caches:
  - path: gopath
  - path: concourse/web/wats/node_modules

params:
  RUNTIME: containerd

run:
  path: ci/tasks/scripts/with-docker-compose
  args: [ci/tasks/watsjs/run.sh]
