---
platform: linux

inputs:
- name: concourse
- name: ci
- name: version
- name: final-version
  optional: true
- name: linux-dependencies
- name: resource-types
- name: fly-linux
- name: fly-windows
- name: fly-darwin

caches:
- path: gopath

outputs:
- name: concourse-tarball

params:
  PLATFORM: linux

run:
  path: ci/tasks/scripts/concourse-build
