---
platform: linux

image_resource:
  type: registry-image
  source: {repository: concourse/unit}

inputs:
- name: concourse
- name: ci
- name: dev-image
  optional: true
- name: postgres-image
  optional: true

caches:
- path: gopath
- path: concourse/web/wats/node_modules

params:
  BUILD:
  RUNTIME: guardian

run:
  path: ci/tasks/scripts/pass-release-notes-only-change
  args:
  - ci/tasks/scripts/with-docker-compose
  - ci/tasks/scripts/watsjs
