resource_types:
- name: concourse-pipeline
  type: registry-image
  source:
    repository: concourse/concourse-pipeline-resource

resources:
- name: pipelines
  type: git
  icon: github-circle
  source:
    uri: https://github.com/concourse/ci
    paths:
    - pipelines

- name: charts-maintenance
  type: git
  icon: github-circle
  source:
    uri: https://github.com/concourse/charts
    branch: maintenance

- name: maintenance-image
  type: registry-image
  source:
    password: ((docker.password))
    repository: concourse/charts-maintenance
    username: ((docker.username))

- name: prod
  type: concourse-pipeline
  icon: pipe
  source:
    target: https://nci.concourse-ci.org
    teams:
    - name: main
      username: ((basic_auth.username))
      password: ((basic_auth.password))
    - name: resources
      username: ((basic_auth.username))
      password: ((basic_auth.password))

jobs:
- name: reconfigure-resource-pipelines
  plan:
  - get: pipelines
    trigger: true
  - task: render-resource-templates
    file: pipelines/tasks/render-resource-pipeline-templates.yml
    params:
      RESOURCES: |
        git
        time
        docker-image
        registry-image
        cf
        bosh-io-release
        bosh-io-stemcell
        tracker
        hg
        github-release
        semver
        s3
        concourse-pipeline
        pool
        datadog-event
        mock
  - put: prod
    inputs: [rendered_pipelines]
    params:
      pipelines:
        - name: git
          team: resources
          config_file: rendered_pipelines/git.yml
        - name: time
          team: resources
          config_file: rendered_pipelines/time.yml
        - name: docker-image
          team: resources
          config_file: rendered_pipelines/docker-image.yml
        - name: registry-image
          team: resources
          config_file: rendered_pipelines/registry-image.yml
        - name: cf
          team: resources
          config_file: rendered_pipelines/cf.yml
        - name: bosh-io-release
          team: resources
          config_file: rendered_pipelines/bosh-io-release.yml
        - name: bosh-io-stemcell
          team: resources
          config_file: rendered_pipelines/bosh-io-stemcell.yml
        - name: tracker
          team: resources
          config_file: rendered_pipelines/tracker.yml
        - name: hg
          team: resources
          config_file: rendered_pipelines/hg.yml
        - name: github-release
          team: resources
          config_file: rendered_pipelines/github-release.yml
        - name: semver
          team: resources
          config_file: rendered_pipelines/semver.yml
        - name: s3
          team: resources
          config_file: rendered_pipelines/s3.yml
        - name: concourse-pipeline
          team: resources
          config_file: rendered_pipelines/concourse-pipeline.yml
        - name: pool
          team: resources
          config_file: rendered_pipelines/pool.yml
        - name: datadog-event
          team: resources
          config_file: rendered_pipelines/datadog-event.yml
        - name: mock
          team: resources
          config_file: rendered_pipelines/mock.yml

- name: reconfigure-pipelines
  plan:
  - get: pipelines
    trigger: true
  - get: charts-maintenance
    trigger: true
  - get: maintenance-image
  - task: generate-charts-yaml
    image: maintenance-image
    config:
      platform: linux
      inputs:
      - name: charts-maintenance
      outputs:
      - name: charts-maintenance
      run:
        dir: charts-maintenance
        path: make
        args: [pipeline.yml]
  - put: prod
    params:
      pipelines:
      - name: reconfigure-pipelines
        team: main
        config_file: pipelines/pipelines/reconfigure.yml
      - name: concourse
        team: main
        config_file: pipelines/pipelines/concourse.yml
      - name: prs
        team: main
        config_file: pipelines/pipelines/prs.yml
      - name: bosh-cleanup
        team: main
        config_file: pipelines/pipelines/bosh-cleanup.yml
      - name: wings
        team: main
        config_file: pipelines/pipelines/wings.yml
      - name: concourse-charts
        team: main
        config_file: charts-maintenance/pipeline.yml
      - name: norsk-mirror
        team: main
        config_file: pipelines/pipelines/norsk-mirror.yml
      - name: release-5.2.x
        team: main
        exposed: true
        config_file: pipelines/pipelines/release.yml
        vars:
          release_major: "5"
          release_minor: "5.2"
          concourse_smoke_deployment_name: "concourse-smoke-5-2"
          use_external_linker: true
          ignored_in_concourse: CONCOURSE_MAIN_TEAM_CONFIG
      - name: release-5.5.x
        team: main
        exposed: true
        config_file: pipelines/pipelines/release.yml
        vars:
          release_major: "5"
          release_minor: "5.5"
          concourse_smoke_deployment_name: "concourse-smoke-5-5"
          use_external_linker: false
          ignored_in_concourse: CONCOURSE_MAIN_TEAM_CONFIG
      - name: release-5.7.x
        team: main
        exposed: true
        config_file: pipelines/pipelines/release.yml
        vars:
          release_major: "5"
          release_minor: "5.7"
          concourse_smoke_deployment_name: "concourse-smoke-5-7"
          use_external_linker: false
          ignored_in_concourse: CONCOURSE_MAIN_TEAM_CONFIG
      - name: algorithm-v3
        team: main
        config_file: pipelines/pipelines/branch.yml
        vars:
          branch_name: algorithm-v3
          environment: algorithm
      - name: runtime-drills
        team: main
        config_file: pipelines/pipelines/branch.yml
        vars:
          branch_name: master
          environment: runtime-drills
      - name: set-zstd-drills-env
        team: main
        config_file: pipelines/pipelines/branch.yml
        vars:
          branch_name: use_zstd
          environment: use-zstd
      - name: lidar-drills
        team: main
        config_file: pipelines/pipelines/drills.yml
        vars:
          branch_name: checks
          environment: lidar-drills
      - name: prod-db-backup
        team: main
        config_file: pipelines/pipelines/prod-db-backup.yml
      - name: prod-db-restore-verify
        team: main
        config_file: pipelines/pipelines/prod-db-restore-verify.yml
