resource_types:
- name: concourse-pipeline
  type: registry-image
  source:
    repository: concourse/concourse-pipeline-resource

resources:
- name: pipelines-and-tasks
  type: git
  icon: github-circle
  source:
    uri: https://github.com/concourse/ci
    paths:
    - pipelines
    - tasks

- name: baggageclaim-ci
  type: git
  icon: github-circle
  source:
    uri: https://github.com/concourse/baggageclaim
    paths: [ci]

- name: concourse-for-k8s
  type: git
  icon: github-circle
  source:
    uri: git@github.com:pivotal/concourse-for-k8s.git
    private_key: ((concourse_for_k8s_token))
    paths:
    - ci

- name: ruby-alpine-image
  type: registry-image
  source:
    repository: ruby
    tag: rc-alpine

- name: oxygen-mask
  type: git
  icon: github-circle
  source:
    uri: https://github.com/concourse/oxygen-mask

jobs:
- name: reconfigure-resource-pipelines
  plan:
  - get: pipelines-and-tasks
    trigger: true
  - task: render-resource-templates
    file: pipelines-and-tasks/tasks/render-resource-pipeline-templates.yml
    params:
      RESOURCES: |
        git
        time
        docker-image
        registry-image
        cf
        bosh-io-release
        bosh-io-stemcell
        tracker
        hg
        github-release
        semver
        s3
        concourse-pipeline
        pool
        datadog-event
        mock
    input_mapping: {pipelines: pipelines-and-tasks}
  - set_pipeline: git
    file: rendered_pipelines/git.yml
  - set_pipeline: time
    file: rendered_pipelines/time.yml
  - set_pipeline: docker-image
    file: rendered_pipelines/docker-image.yml
  - set_pipeline: registry-image
    file: rendered_pipelines/registry-image.yml
  - set_pipeline: cf
    file: rendered_pipelines/cf.yml
  - set_pipeline: bosh-io-release
    file: rendered_pipelines/bosh-io-release.yml
  - set_pipeline: bosh-io-stemcell
    file: rendered_pipelines/bosh-io-stemcell.yml
  - set_pipeline: tracker
    file: rendered_pipelines/tracker.yml
  - set_pipeline: hg
    file: rendered_pipelines/hg.yml
  - set_pipeline: github-release
    file: rendered_pipelines/github-release.yml
  - set_pipeline: semver
    file: rendered_pipelines/semver.yml
  - set_pipeline: s3
    file: rendered_pipelines/s3.yml
  - set_pipeline: concourse-pipeline
    file: rendered_pipelines/concourse-pipeline.yml
  - set_pipeline: pool
    file: rendered_pipelines/pool.yml
  - set_pipeline: datadog-event
    file: rendered_pipelines/datadog-event.yml
  - set_pipeline: mock
    file: rendered_pipelines/mock.yml

- name: reconfigure-pipelines
  plan:
  - get: pipelines-and-tasks
    trigger: true
  - get: baggageclaim-ci
    trigger: true
  - get: concourse-for-k8s
    trigger: true
  - set_pipeline: reconfigure-pipelines
    file: pipelines-and-tasks/pipelines/reconfigure.yml
  - set_pipeline: concourse
    file: pipelines-and-tasks/pipelines/concourse.yml
  - set_pipeline: prs
    file: pipelines-and-tasks/pipelines/prs.yml
  - set_pipeline: helm-prs
    file: pipelines-and-tasks/pipelines/helm-prs.yml
    vars:
      pr_base_branch: master
      concourse_base_branch: master
      concourse_image_name: concourse/concourse-rc
      concourse_image_tag: latest
  - set_pipeline: helm-prs-5.5.x
    file: pipelines-and-tasks/pipelines/helm-prs.yml
    vars:
      pr_base_branch: release/5.5.x
      concourse_base_branch: release/5.5.x
      concourse_image_name: concourse/concourse
      concourse_image_tag: 5.5
  - set_pipeline: helm-prs-5.7.x
    file: pipelines-and-tasks/pipelines/helm-prs.yml
    vars:
      pr_base_branch: release/5.7.x
      concourse_base_branch: release/5.7.x
      concourse_image_name: concourse/concourse
      concourse_image_tag: 5.7
  - set_pipeline: baggageclaim
    file: baggageclaim-ci/ci/pipeline.yml
  - set_pipeline: bosh-cleanup
    file: pipelines-and-tasks/pipelines/bosh-cleanup.yml
  - set_pipeline: wings
    file: pipelines-and-tasks/pipelines/wings.yml
  - set_pipeline: norsk-mirror
    file: pipelines-and-tasks/pipelines/norsk-mirror.yml
  - set_pipeline: release-5.2.x
    file: pipelines-and-tasks/pipelines/release.yml
    vars:
      release_major: "5"
      release_minor: "5.2"
      latest_release: "5.2"
      concourse_smoke_deployment_name: "concourse-smoke-5-2"
      bin_smoke_use_https: "false"
      end_of_general_support: "2020-04-31"
  - set_pipeline: release-5.5.x
    file: pipelines-and-tasks/pipelines/release.yml
    vars:
      release_major: "5"
      release_minor: "5.5"
      latest_release: "5.5"
      concourse_smoke_deployment_name: "concourse-smoke-5-5"
      bin_smoke_use_https: "true"
      end_of_general_support: "2020-07-31"
  - set_pipeline: release-5.7.x
    file: pipelines-and-tasks/pipelines/release.yml
    vars:
      release_major: "5"
      release_minor: "5.7"
      latest_release: "5.7"
      concourse_smoke_deployment_name: "concourse-smoke-5-7"
      bin_smoke_use_https: "true"
      end_of_general_support: "N/A"
  - set_pipeline: release-5.8.x
    file: pipelines-and-tasks/pipelines/release.yml
    vars:
      release_major: "5"
      release_minor: "5.8"
      latest_release: "5.8"
      concourse_smoke_deployment_name: "concourse-smoke-5-8"
      bin_smoke_use_https: "true"
      end_of_general_support: "N/A"
  - set_pipeline: release-6.0.x
    file: pipelines-and-tasks/pipelines/release-v6.yml
    vars:
      release_major: "6"
      release_minor: "6.0"
      latest_release: "6.0"
      concourse_smoke_deployment_name: "concourse-smoke-6-0"
      bin_smoke_use_https: "true"
  - set_pipeline: algorithm-v3
    file: pipelines-and-tasks/pipelines/branch.yml
    vars:
      branch_name: algorithm-v3
      environment: algorithm
  - set_pipeline: runtime-drills
    file: pipelines-and-tasks/pipelines/branch.yml
    vars:
      branch_name: master
      environment: runtime-drills
  - set_pipeline: set-zstd-drills-env
    file: pipelines-and-tasks/pipelines/branch.yml
    vars:
      branch_name: use_zstd
      environment: use-zstd
  - set_pipeline: enterprise-helm-chart
    file: concourse-for-k8s/ci/pipeline.yml
    vars:
      concourse_chart_branch: release/5.5.x
      concourse_minor: "5.5"
  - set_pipeline: prod-db-backup
    file: pipelines-and-tasks/pipelines/prod-db-backup.yml
  - set_pipeline: prod-db-restore-verify
    file: pipelines-and-tasks/pipelines/prod-db-restore-verify.yml

- name: reconfigure-monitoring-pipeline
  plan:
  - get: oxygen-mask
    trigger: true
  - get: ruby-alpine-image
  - task: generate-monitor-yml
    image: ruby-alpine-image
    config:
      platform: linux
      inputs:
      - name: oxygen-mask
      outputs:
      - name: oxygen-mask
      run:
        dir: oxygen-mask
        path: sh
        args:
        - -c
        - |
          erb monitor.yml > gen-monitor.yml
  - set_pipeline: monitoring-stats
    file: oxygen-mask/gen-monitor.yml
    vars:
      atc_url: https://hush-house.pivotal.io
      interval: 30s
      username: ((basic_auth.username))
      password: ((basic_auth.password))
      team_name: main
      pipeline_name: monitoring
      datadog_api_key: ((datadog_api_key))
      github_access_token: ((concourse_github_dummy.access_token))
