---
platform: linux

image_resource:
  type: registry-image
  source: { repository: concourse/unit }

params:
  DEPLOYMENT_NAME_PREFIX:
  BOSH_CA_CERT:
  BOSH_CLIENT:
  BOSH_CLIENT_SECRET:
  BOSH_ENVIRONMENT:
  SKIP:
  SKIP_PACKAGES:
  SUITE:
  STEMCELL_VARIANT:

inputs:
  - name: bbr
  - name: bpm-release
  - name: concourse
  - name: concourse-release
  - name: credhub-release
  - name: uaa-release
  - name: postgres-release
  - name: stemcell
  - name: vault-release
  - name: bbr-sdk-release
  - name: ci

caches:
  - path: gopath

run:
  path: ci/tasks/bosh-topgun/run.sh
